.post {
  padding: 0.7em;
}

.post_container {
  background-color: transparent;
}

.post_container h2 {
  font-size: max(1.2vw, 1.2em);
}

.author {
  color: rgb(175, 175, 175);
  font-size: max(0.8em, 0.8vw);
}

.content {
  color: rgb(255, 255, 255);
  font-size: max(0.8em, 0.8vw);
}
