.input {
  display: grid;
  place-items: center;
  padding: 0.7em 0.2em;
}

.input h1 {
  font-size: max(1.4em, 1.3vw);
}

.input > form {
  padding: 0.2em;
}

.input form input {
  display: block;
  margin: 0.5em;
  padding: 0.3em;
  font-size: max(0.8vw, 0.9em);
  border-radius: 0.5em;
  outline: 0;
  border: 0;
}

.input form input:focus {
  background-color: rgb(215, 215, 215);
}

.input form button {
  font-size: max(0.8vw, 0.9em);
  padding: .2em 1em;
  border-radius: 0.5em;
  /* border: 0; */
  background-color: rgb(0, 5, 75);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  cursor: pointer;
}

.input p {
  font-size: max(0.8vw, 0.9em);
}

.input a {
  color: rgb(230, 0, 0);
  text-decoration-line: underline;
  cursor: pointer;
  transition: 0.5s;
}

.input a:hover {
  color: rgb(255, 123, 123);
}
